@{//  File:        Details.cshtml
//  Copyright:   Copyright 2012 MYOB Technology Pty Ltd. All rights reserved.
//  Website:     http://www.myob.com
//  Author:      MYOB
//  E-mail:      info@myob.com
//
//Documentation, code and sample applications provided by MYOB Australia are for 
//information purposes only. MYOB Technology Pty Ltd and its suppliers make no 
//warranties, either express or implied, in this document. 
//
//Information in this document or code, including website references, is subject
//to change without notice. Unless otherwise noted, the example companies, 
//organisations, products, domain names, email addresses, people, places, and 
//events are fictitious. 
//
//The entire risk of the use of this documentation or code remains with the user. 
//Complying with all applicable copyright laws is the responsibility of the user. 
//
//Copyright 2012 MYOB Technology Pty Ltd. All rights reserved.
}
@model MYOB.AccountRight.SDK.Contracts.Version2.GeneralLedger.JournalTransaction

<div>
  <div class="modal-header">      
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4>Journal Transaction <span class="label label-info">@Model.JournalType</span></h4>
  </div>
  <div class="modal-body">
    <div id="journalHeader" class="row-fluid">
        <div class="form-horizontal span4">
            <div class="control-group">
                <label class="control-label" for="Id">Number</label>
                <div class="controls">
                    @Html.TextBoxFor(m => m.DisplayID, new {@class = "input-small uneditable-input"})
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="DateOccurred">Date Occurred</label>
                <div class="controls">
                    <div class="input-append">
                        @Html.TextBoxFor(m => m.DateOccurred, 
                        new Dictionary<string, object> { 
                        { "Value", Model.DateOccurred.HasValue ? Model.DateOccurred.Value.ToString("yyyy-MM-dd"): ""},
                        {"class", "input-small uneditable-input"} })
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="DatePosted">Date Posted</label>
                <div class="controls">
                    <div class="input-append">
                        @Html.TextBoxFor(m => m.DatePosted, 
                        new Dictionary<string, object> { 
                        { "Value", Model.DatePosted.HasValue ?  Model.DatePosted.Value.ToString("yyyy-MM-dd"): "" },
                        {"class", "input-small uneditable-input"} 
                        })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal span4">
            <div class="control-group">
                <label class="control-label" for="Description">Description</label>
                <div class="controls">
                    @Html.TextAreaFor(m => m.Description, new { rows = 6, @disabled = "disable" })
                </div>
            </div>
        </div>
    </div>

    <table id="journalLineTable" class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Account</th>               
                <th>Debit</th>
                <th>Credit</th>
                <th>Job</th>
                <th>Description</th>
                <th>Reconciled</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Lines)
            {
            
                <tr>
                    <td>@line.Account.DisplayID</td>                
                    
                    <td style="text-align:right;">
                    @if (line.IsCredit)
                    {
                        @line.Amount.ToString("C")
                    }
                    </td>

                    <td style="text-align:right;">
                    @if (!line.IsCredit)
                    {
                        @line.Amount.ToString("C")
                    }
                    </td>

                    <td>@if (line.Job != null)
                        {
                            @line.Job.Number
                        }       
                    </td>
                    <td>@line.LineDescription</td>

                    <td>
                    @if(line.ReconciledDate.HasValue)
                    {
                        @line.ReconciledDate.Value.ToString("yyyy-MM-dd")
                    }
                    </td>
                </tr>   
            }
        </tbody>
    </table>
  </div>
</div>